#home-page{
    height: 70%;
    background-color: coral;
}

#search-bar #search-name{
    float: left;
}

#search-bar #search-submit{
    float: right;
}
#title{
    font-size: 1.5rem;
    background: aqua;
    height: 10%;
}
#mute-memo-list{
    overflow: auto;
    background: grey;
    height: 90%;
}
#memo-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
#memo-item .item{
    padding-top: 0.6rem;
}
#memo-item .item img{
    width: 10rem;
}

