#home-page{
    height: 70%;
    background: #1B1B1B;
}
#title{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    height: 10%;
}
#mute-memo-list{
    overflow: auto;
    height: 90%;
}
#memo-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
#memo-item .item{
    padding-top: 0.6rem;
}
#memo-item .item img{
    width: 10rem;
}

#memo-item .item .item-title{
    font-size: larger;
    color: #fff;
}

#memo-item .item .item-singer{
    font-size: medium;
    color: #555;
}



