<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <!--    <meta http-equiv="Content-Security-Policy" content= "script-src 'unsafe-inline' 'sha256-mc9LH2e3kV1BBF1B3icEq0dR656rD3pdHToRTsWEQTI=';">-->
        <link href="../../static/css/main.css" rel="stylesheet" />
        <link href="../../static/css/splash.css" rel="stylesheet"/>
        <link href="../../static/css/login.css" rel="stylesheet" />
        <link href="../../static/css/info.css" rel="stylesheet" />
        <link href="../../static/js/info.js" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
        <style>
            * {font-family: ‘SUIT’, sans-serif;}
        </style>
        <title>Mute</title>
    </head>
<body>
    <div class="main sub_page">
        <div class="pop_top">
            <div class="side_header">
                <a href="#" class="top_left_ico">취소</a>
                <a href="#" class="top_right_ico"> 다음 </a>
            </div>
        </div>
        <a href="#">
            <div class="photo_plus"></div>
        </a>
        <div class="memo_area">
            <div class="lyric_area">
                <p>
                수많은 소원 아래 매일 다른 꿈을 꾸던</br>
                아이는 그렇게 오랜 시간</br>
                겨우 내가 되려고 아팠던 걸까</br>
                쌓이는 하루만큼 더 멀어져</br>
                </p>
            </div>
            <div class="typing_area">
                <textarea lang="ko" placeholder="메모를 입력하세요." ></textarea>
            </div>
        </div>
    </div>   
</body>
</html>