<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <!--    <meta http-equiv="Content-Security-Policy" content= "script-src 'unsafe-inline' 'sha256-mc9LH2e3kV1BBF1B3icEq0dR656rD3pdHToRTsWEQTI=';">-->
        <link href="../../static/css/main.css" rel="stylesheet" />
        <link href="../../static/css/splash.css" rel="stylesheet"/>
        <link href="../../static/css/login.css" rel="stylesheet" />
        <link href="../../static/css/info.css" rel="stylesheet" />
        <link href="../../static/js/info.js" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
        <style>
            * {font-family: 'Nanum Myeongjo', serif; }
			* {font-family: ‘SUIT’, sans-serif, 'Nanum Myeongjo', serif;}		
        </style>
        <title>Mute</title>
    </head>
    <body>
        <div class="main sub_page">
            <div class="top_area">
                <div class="side_header">
                    <a href="#" class="top_left_ico back">
                    </a>
                    <span class="top_center"> 공유옵션 </span>
					<a class="top_right_ico"></a>
                    <div class="share_but">
						<a href="#" class="down_but"></a>
						<a class="up_but"></a>
					</div>
                </div>
            </div>
			<div class="bottom_area_2">
				<div class="memo_view rect right nanum font_w">
					<div class="back_album">
						<!--앨범배경_시작-->
						<img src="../../static/img/info/album_cover.jpeg">
						<div class="filter_m"></div>  
						<!--앨범배경_끝-->
					</div>
					<div class="textbox">
						<div class="memo_cus_top ">
							<p>
							아이는 그렇게 오랜 시간</br>
							겨우 내가 되려고 아팠던 걸까</br>
							쌓이는 하루만큼 더 멀어져</br>
							우리는 화해할 수 없을 것 같아</br>
							나아지지 않을 것 같아</br>
							어린 날 내 맘엔 영원히</br>
							가물지 않는 바다가 있었지
							</p>
						</div>
						<div class="memo_cus_down">
							<div class="line-box"></div>
							<div class="info">
								<p>아이와 나의 바다</p>
								<p>아이유</p>
							</div>
						</div>
					</div>
				</div>   
				<div class="option_area">
					<div class="but_area">
						<ul>
							<li class="option_t"> 배경</li>
							<li>
								<a href="#" class="basic back_camera"></a>
							</li>
							<li>
								<a href="#" class="basic back_album active">
									<!--앨범배경_시작-->
									<img src="../../static/img/info/album_cover.jpeg">
									<div class="filter_m"></div>  
									<!--앨범배경_끝-->
								</a>
							</li>
							<li>
								<a href="#" class="basic back_white"></a>
							</li>
							<li>
								<a href="#" class="basic baco_black"></a>
							</li>
						</ul>
						<ul>
							<li class="option_t"> 글자</li>
							<li>
								<a href="#" class="basic suit"></a>
							</li>
							<li>
								<a href="#" class="basic nanum active">
									
								</a>
							</li>
						</ul>
						<ul>
							<li class="option_t"> </li>
							<li>
								<a href="#" class="basic left"></a>
							</li>
							<li>
								<a href="#" class="basic center"></a>
							</li>
							<li>
								<a href="#" class="basic right active">
									
								</a>
							</li>
						</ul>
						<ul>
							<li class="option_t"> </li>
							<li>
								<a href="#" class="basic font_w active"></a>
							</li>
							<li>
								<a href="#" class="basic font_b"></a>
							</li>
						</ul>
						<ul>
							<li class="option_t">비율</li>
							<li>
								<a href="#" class="basic square"></a>
							</li>
							<li>
								<a href="#" class="basic rect active"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
    	</body>
</html>