<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mute</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/search.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/info.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/info-memo-folder.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
    <div id="sub_page_memo">
        <div class="pop_top">
            <div class="side_header">
                <a href="javascript:history.back()" class="top_left_ico">취소</a>
                <a href="#" class="top_right_ico" onclick="goHome()"> 다음 </a>
            </div>
        </div>
        <div id="folder-section">
            <div id="test" class="item" onclick="tempMemo()">
                <div class="item-album">
                    <img src='https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/082/211/569/82211569_1630045244175_1_600x600.JPG/dims/resize/Q_80,0'/>
                </div>
                <div class="item-content">
                    <div class="item-title">추억 (10)</div>
                    <div class="item-singer">추억하고 싶은 가사</div>
                </div>
            </div>
            <img src="../img/search-bar.svg"/>
        </div>
    </div>
    <footer th:replace="footer :: footer"></footer>
</div>
</body>
<script type="text/javascript" th:src="@{/js/deploy-config/deploy.js}"></script>
<script type="text/javascript" th:src="@{/js/musicmark-folder.js}"></script>
<script type="text/javascript">
    function tempMemo(){
        document.getElementById("test").style.backgroundColor = "#151515";

        let memoMusicData = JSON.parse(localStorage.getItem("musicInfoData"));
        let lyricsData = JSON.parse(localStorage.getItem("menoMusicData"));
        let memo = JSON.parse(localStorage.getItem("menoData"));

        axios.post(`http://${PATH.PUBLIC_IP}/api/musicmark`, {
            "album_url": memoMusicData.album_url,
            "mark_info": lyricsData.lyrics_data,
            "memo": memo.meno_data,
            "music_name": memoMusicData.music_name,
            "singer": memoMusicData.artist_name,
            "track_id": null
        }).catch(function (err) {
            console.log(err);
        })
    }
</script>
</html>