<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div id="nav">
        <div id="main-page" style="background-color: red">
            <button>메인 홈</button>
        </div>
        <div id="search-page" style="background-color: #2875DD">
            <button>검색 홈</button>
        </div>
        <div id="memo-page" style="background-color: #FFEB32">
            <button>메모 홈</button>
        </div>
        <div id="setting-page" style="background-color: blue">
            <button>설정 홈</button>
        </div>
    </div>
</footer>
</html>