<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
    <title>Mute</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/search.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <div class="main">
        <header th:replace="header :: header"></header>
        <div th:replace="layout/search :: search"></div>
        <div id="home-page">
            <div id="title">
                최근 추가한 노래
            </div>
            <div id="mute-memo-list">
                <div id="memo-item">

                </div>
            </div>
        </div>
        <footer th:replace="footer :: footer"></footer>
    </div>
</body>
<!-- html tag 인식을 위한 위치 조정 -->
<script type="text/javascript" th:src="@{/js/search-result.js}"></script>
<script type="text/javascript" th:src="@{/js/footer.js}"></script>
</html>