<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mute</title>
</head>
<body>
    <h1>splash</h1>
</body>
</html>


Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self' 'wasm-unsafe-eval'". Either the 'unsafe-inline' keyword, a hash ('sha256-mc9LH2e3kV1BBF1B3icEq0dR656rD3pdHToRTsWEQTI='), or a nonce ('nonce-...') is required to enable inline execution.

syLt @ content_start.js:150
BEWy @ content_start.js:136
YUWZ @ content_start.js:108
cTXc @ content_start.js:168
mKFS @ content_start.js:262
cYUN @ content_start.js:214
Sypg @ content_start.js:236
obHo @ content_start.js:277
(anonymous) @ content_start.js:283